doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel="stylesheet", href="/css/adminLogin.css")
  body
    form(action='login', method='POST')
      .imgcontainer
        img.avatar(src='img_avatar2.png', alt='Avatar')
      .container
        label(for='uname')
          b Username
        input(type='text', placeholder='Enter Username', name='email', required='')
        label(for='psw')
          b Password
        input(type='password', placeholder='Enter Password', name='password', required='')
        button(type='submit') Login
        label Remember me
          input(type='checkbox', checked='checked', name='remember') 
      .container(style='background-color: #f1f1f1')
        button.cancelbtn(type='button') Cancel
        span.psw
          a(href='#') Forgot password?