doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Responsive Navbar
    link(rel='stylesheet', href='/public/css/layout.css')
  body
    .navbar
      a(href='#home') Home
      a(href='#news') News
      a(href='#contact') Contact
      a(href='#about') About
    div(style='padding: 16px')