doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Individuals Dashboard
    link(href='/public/css/myDash.css')
  body
    .dashboard
      h1 Individuals Dashboard
      table
        thead
          tr
            th Name
            th Age
            th Occupation
        tbody
          tr
            td John Doe
            td 30
            td Software Engineer
          tr
            td Jane Smith
            td 28
            td Graphic Designer
          // Add more individuals here